<div class="cadastro-container">
  <h2>Cadastro de Contas</h2>
    <div class="form-group">
      <label for="numeroConta">Número da Conta:</label>
      <input id="numeroConta" [(ngModel)]="numeroConta" name="numeroConta" maxlength="5" />
    </div>

    <div class="form-group">
      <label for="nomeTitular">Nome do Titular:</label>
      <input id="nomeTitular" [(ngModel)]="nomeTitular" name="nomeTitular" maxlength="30" required />
    </div>

    <div class="form-group">
      <label for="documento">Documento (CPF):</label>
      <input id="documento" [(ngModel)]="documento" name="documento" required pattern="^\d{11}$" />
      <div *ngIf="documento.length !== 11 && documento.length > 0" class="error">
        CPF deve ter 11 dígitos.
      </div>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input id="endereco" [(ngModel)]="endereco" name="endereco" required />
    </div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button   (click)="onSubmit()" type="submit">Cadastrar</button>

</div>
